*{
    text-align: center;
    font-weight: 400;
}
body{
    font-size: 1rem;
}
.container{
    display: flex;
    width:60%;
    margin: 0 auto;
    box-shadow:3px 3px 3px 3px gray;
}
.left{
    background-image: url(./dark.jpg);
    border:2px solid black;
    width:55%;
    padding:0px 30px 30px 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border-top:5px;
}
.right{
    width:45%;
    padding:5px;
    border: 2px solid black;
}
.right>h1{
    color:black;
    font-weight: 900;
}
h1{
    font-size: 2.25rem;
    color:white;
}
h2{
    font-weight: 900;
    font-size: 1.3125rem;
    color:#F18119;
    letter-spacing:-1px;
}
input{
    border-radius: 5px;
    width:100px;
    padding:5px 10px;
    margin: 0 auto;
    margin-top:5px;
    display: block;
}
.good{
    font-weight: 900;
}
.small{
    font-size: 0.625rem;
    color:#F18119;
}
#register{
    background-color: #FF713B;
    color:white;
}

@media screen and (max-width:800px){
    .container{
        flex-direction: column;
    }
    .right, .left{
        width: 100%;
        margin: 0 auto;
    }
}